.container {
  display: flex;
  justify-content: center;
  width: 70%;
  margin-bottom: 50px;
  background: lightyellow;
  padding: 20px;
  margin-top: 15px;
  border: 1px solid yellowgreen;
}

@media only screen and (max-width: 900px) {
  .container {
    width: 100%;
  }
}
