.container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-bottom: 50px;
  flex-direction: column;
  align-items: center;
  background: #f3f3f3;
  border: 1px solid lightgrey;
}

.root {
  width: 100%;
  display: flex;
  justify-content: start;
  flex-direction: row;
  padding: 1%;
  flex-wrap: wrap;
}
.rootButton {
  margin-right: 2% !important;
}
.sortText {
  margin: 3px;
  margin-right: 20px;
}

@media only screen and (max-width: 900px) {
  .container {
    width: 100%;
  }
  .rootButton {
    margin-right: 0% !important;
  }
}
