body {
  font-family: 'Open Sans';
  background-color: rgb(250, 250, 250);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.coronaImage {
  display: flex;
  margin: 10px;
}
